@media (min-width:801px) {

    /* Feature Boxes */

    .box-2 {
        text-align: center;
        width: 30%;
        display: block;
        margin-bottom: 10%;
    }

    /* Castle Image */

    .box-3 {
        margin-top: 5%;
        margin-bottom: 20%;
        margin-right: 0;
        margin-left: auto;
        text-align: center;
        width: 50%;
    }

    /* Castle Video */

    .video-1 {
        display: block;
        width: 50%;
        float: right;
    }

    /* Contact us */

    .box-5 {
        display: block;
        width: 30%;
        margin-left: 0;
        margin-right: auto;
    }
