@media (min-width:501px) {

    /* Navigation Bar */

<<<<<<< Updated upstream
=======
    /*.nav-bar-mobile {*/
    /*    display: none;*/
    /*}*/
    .nav-bar {
        top: 0;
        height: 50px;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: fantasy, sans-serif;
        background-color: black;
    }

>>>>>>> Stashed changes
    .nav-bar a {
        align-items: center;
        height: 50px;
        font-size: 1rem;
<<<<<<< Updated upstream
=======
        color: white;
        text-align: center;
        padding: 10px 25px 10px 25px;
        text-decoration: none;
        float: left;
        background-color: black;
        display: flex;
    }

    .nav-bar a:hover {
        background-color: white;
        color: black;
        cursor: pointer;
>>>>>>> Stashed changes
    }

    /*Dropdown menu*/
    .dropdown {
<<<<<<< Updated upstream
=======
        float: left;
        overflow: hidden;
        color: white;
        background-color: inherit;
        font-family: inherit;
        border: none;
        outline: none;
>>>>>>> Stashed changes
        font-size: 1rem;
    }

    .dropdown-btn {
<<<<<<< Updated upstream
=======
        align-items: center;
        color: white;
        padding: 10px 25px 10px 25px;
        background-color: inherit;
        font-family: inherit;
        border: none;
        height: 50px;
>>>>>>> Stashed changes
        font-size: 1rem;
    }

    .dropdown-content {
<<<<<<< Updated upstream
        width: 20%;
=======
        display: none;
        position: absolute;
        background-color: white;
        width: auto;
        z-index: 1;
>>>>>>> Stashed changes
        font-size: 1rem;
    }

    .dropdown-content a {
<<<<<<< Updated upstream
=======
        float: none;
        color: white;
        padding: 10px 25px 10px 25px;
        text-decoration: none;
>>>>>>> Stashed changes
        font-size: 1rem;
        text-align: center;
    }

    /* Logo */
    .logo {
<<<<<<< Updated upstream
=======
        color: white;
        text-align: center;
        padding: 10px 25px 10px 25px;
        text-decoration: none;
        float: right;
        background-color: black;
>>>>>>> Stashed changes
        font-size: 1rem;
        align-items: center;
        display: flex;
    }
    /* Magic Book Image */

    .header-1 {
        font-size: 2.25rem;
    }

    .snippet-1 {
        font-size: 1.25rem;
    }

    .btn-1 {
        font-size: 1rem;
    }

    /* Feature Boxes */

    .header-2 {
        font-size: 2rem;
    }

    .snippet-2 {
        font-size: 1.25rem;
    }

    .box-2 {
        text-align: center;
        width: 40%;
        display: block;
        margin-bottom: 10%;
    }

    .header-3 {
        font-size: 1.25rem;
    }

    .snippet-3 {
        font-size: 1rem;
    }

    /* Castle Image */

    .box-3 {
        margin-top: 5%;
        margin-bottom: 20%;
        margin-right: 0;
        margin-left: auto;
        text-align: center;
        width: 75%;
    }

    /* Castle Video */

    .video-1 {
        display: block;
        width: 85%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .header-4 {
        font-size: 1.75rem;
    }

    .snippet-4 {
        font-size: 1.25rem;
        padding-right: 10px;
    }

    .btn-3 {
        float: right;
        font-size: 1rem;
        padding: 1%;
        text-align: center;
    }

    /* Contact us */

    .box-5 {
        display: block;
        width: 80%;
    }

    .contact-us {
        font-size: 1.5rem;
    }

    .contact-form {
        text-align: left;
        font-size: 1rem;
    }

    input[type=text] {
        font-size: 1rem;

    }

    textarea {
        font-size: 1rem;
    }

    .btn-4 {
        font-size: 1rem;
    }

    /* Footer */

    .footer {
        font-size: 1rem;
    }